<div class="center jumbotron header img-responsive">
  <div class="logo" style="display: flex; height: 150px; padding-top: 13vw;">
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">F</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">l</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">i</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">p</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">F</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">l</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">o</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">p</h1></div>
    <div class="flip-3d" style="padding-top: 2vw;"><img src="http://i.imgur.com/y2RWDFU.png" style="height: 10vw; width: 10vw;"></div>
  </div>
</div>

<div class="new_movie">
<h1 class="editheader">Editing Movie</h1>

<%= render 'form' %>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>
</div>
