/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1 {
  text-align: left;
  font-size: 4rem;
  display: inline-block;
}

h2 {
  text-align: center;
  font-size: 2rem;
}


/*.box {
	width: 300px;
	height: 300px;
  -webkit-transition: width 2s ease, height 2s ease;
	-moz-transition: width 2s ease, height 2s ease;
	-o-transition: width 2s ease, height 2s ease;
	transition: width 2s ease, height 2s ease;
}

.box-change {
	width: 400px;
	height: 400px;
}*/
